.answer-container {
  .rich_editor_container {
    margin-bottom: 20px;
    #toolBar {
      display: flex;
      overflow: scroll;
      .ql-formats {
        display: flex;
      }
    }
    .quill {
      height: 220px;
      .ql-snow {
        .ql-editor {
          .ql-syntax {
            background-color: lightgray;
            color: black;
          }
        }
      }
    }
  }
  .closedBtn_container {
    .answerSubmitBtn {
      border: none;
      border-radius: 5px;
      color: #ffffff;
      background-color: #1b75d0;
      padding: 10px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 592px) {
  .answer-container {
    .rich_editor_container {
      #toolBar {
        display: flex;
        overflow: scroll;
      }
    }
  }
}

@media screen and (min-width: 879px) {
  .answer-container {
    .rich_editor_container {
      #toolBar {
        display: flex;
        overflow: initial;
      }
    }
  }
}
