@import "color.scss";
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 변수
$desktop: 1500px;
$notebook: 1200px;
$tablet: 768px;
$mobile: 480px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.headerWrapper {
  background: rgba($block-color, 0.5);
  border-bottom: 1px solid rgb(231, 231, 231);
  position: relative;
  width: 100%;
  padding: 0 25px 0;
  transition: 0.3s;
  position: fixed;
  z-index: 3;
  min-height: 0;

  .headerContainer {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerLogoContainer {
      a {
        display: flex;
        color: $main-color;
        .headerLogo {
          width: 30px;
        }
        p {
          margin-left: 5px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .headerNavigation {
      width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .searchTooltip {
        cursor: pointer;
        position: absolute;
        background-color: white;
        padding: 15px 0;
        width: 400px;
        top: 50px;
        border-radius: 5px;
        border: 2px solid rgb(231, 231, 231);
        box-shadow: 2px 2px 3px rgb(112, 112, 112);

        p {
          padding: 2.5px 15px;
          color: rgb(54, 54, 54);
          &:first-child {
            font-weight: bold;
            color: black;
            &:hover {
              background-color: white;
              color: black;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            background-color: $main-color;
            color: white;
          }
        }
      }
      .searchInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 32px;
        padding: 2px 10px;
        background: #fff;
        width: 400px;

        input {
          background: #fff;
          border: none;
          outline: none;
          height: 23px;
          width: 85%;
          padding: 0 10px;
          font-family: "S-CoreDream-3Light";
        }

        button {
          border: none;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          cursor: pointer;

          &:active {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }

      .headerMenu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        transition: 0.5s;

        li {
          list-style-type: none;
          &:last-child {
            a {
              padding-right: 0;
            }
          }
          a {
            color: black;
            text-decoration: none;
            display: block;
            padding: 20px 25px;
            // font-size: 15px;
            line-height: 1;
            transition: 0.3s;
            // border: 1px solid black;

            &:hover {
              color: $main-color;
              font-weight: bold;
            }
            .profile-img {
              width: 25px;
              height: 25px;
              margin-right: 6px;
              img {
                height: 25px;
              }
            }
          }
        }
        .myname {
          a {
            display: flex;
            align-items: center;
          }
        }
        .myname-mobile {
          display: none;
        }
      }

      .hamburger {
        position: absolute;
        right: 25px;
        width: 25px;
        height: 3px;
        background: rgb(112, 112, 112);
        border-radius: 10px;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s;

        &:before,
        &:after {
          content: "";
          position: absolute;
          height: 3px;
          right: 0;
          background: rgb(112, 112, 112);
          border-radius: 10px;
          transition: 0.3s;
        }

        &:before {
          top: -10px;
          width: 25px;
        }

        &:after {
          top: 10px;
          width: 25px;
        }
      }
      // checkbox
      .toggle-menu {
        position: absolute;
        right: 25px;
        width: 30px;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
      }

      .hamburger,
      .toggle-menu {
        display: none;
      }

      input:checked ~ .hamburger {
        background: transparent;

        // x crossing "/"
        &:before {
          top: 0;
          transform: rotate(-45deg);
          width: 30px;
        }
        // x crossing "\"
        &:after {
          top: 0;
          transform: rotate(45deg);
          width: 30px;
        }
      }

      // input:checked ~ .headerMenu {
      //   right: 0;
      //   box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
      // }
    }
  }
  .qna-write-question {
    position: fixed;
    bottom: 70px;
    right: 15vw;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background-color: $main-color;
    color: $block-color;
    font-size: 30px;
    box-shadow: 1px 1px 5px #888;
    &:hover {
      cursor: pointer;
      background-color: #1f5683;
    }
    &-none {
      display: none;
    }
  }
}
@media (min-width: $notebook) {
  .container {
    max-width: 1140px;
  }
  .headerWrapper {
    background: rgba($block-color, 0.5);
    border-bottom: 1px solid rgb(231, 231, 231);
    position: relative;
    width: 100%;
    padding: 0 25px 0;
    transition: 0.3s;
    position: fixed;

    .headerContainer {
      margin: 0 auto;
      width: 1000px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border: 1px solid red;

      .headerNavigation {
        width: 800px;
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex: 1;

        .searchInput {
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid rgb(231, 231, 231);
          border-radius: 32px;
          padding: 2px 10px;
          background: #fff;
          width: 400px;

          input {
            background: #fff;
            border: none;
            outline: none;
            height: 23px;
            width: 85%;
            padding: 0 10px;
            font-family: "S-CoreDream-3Light";
          }

          button {
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:active {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
          }
        }

        .headerMenu {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          z-index: 1;
          transition: 0.5s;

          li {
            list-style-type: none;
            &:last-child {
              a {
                padding-right: 0;
              }
            }
            a {
              color: black;
              text-decoration: none;
              display: block;
              padding: 20px 25px;
              font-size: 15px;
              line-height: 1;
              transition: 0.3s;
              &:hover {
                color: $main-color;
                font-weight: bold;
              }
              .profile-img {
                width: 25px;
                height: 25px;
                margin-right: 6px;
                img {
                  height: 25px;
                }
              }
            }
          }
          .myname {
            a {
              display: flex;
              align-items: center;
            }
          }
          .myname-mobile {
            display: none;
          }
        }

        .hamburger {
          position: absolute;
          right: 25px;
          width: 25px;
          height: 3px;
          background: rgb(112, 112, 112);
          border-radius: 10px;
          cursor: pointer;
          z-index: 2;
          transition: 0.3s;

          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 3px;
            right: 0;
            background: rgb(112, 112, 112);
            border-radius: 10px;
            transition: 0.3s;
          }

          &:before {
            top: -10px;
            width: 25px;
          }

          &:after {
            top: 10px;
            width: 25px;
          }
        }

        .toggle-menu {
          position: absolute;
          right: 25px;
          width: 30px;
          height: 100%;
          z-index: 3;
          cursor: pointer;
          opacity: 0;
        }

        .hamburger,
        .toggle-menu {
          display: none;
        }

        input:checked ~ .hamburger {
          background: transparent;

          &:before {
            top: 0;
            transform: rotate(-45deg);
            width: 30px;
          }

          &:after {
            top: 0;
            transform: rotate(45deg);
            width: 30px;
          }
        }

        input:checked ~ .headerMenu {
          right: 0;
          box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

// 노트북
@media (min-width: $tablet) and (max-width: $notebook) {
  .container {
    max-width: 960px;
  }
  .headerWrapper {
    .headerContainer {
      .headerNavigation {
        width: 800px;
      }
    }
    .qna-write-question {
      bottom: 70px;
      right: 10vw;
      width: 70px;
      height: 70px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .headerWrapper {
    padding: 10px 10px;
    .headerContainer {
      width: 100%;
      // border: 1px solid red;
      .headerNavigation {
        input:checked ~ .headerMenu {
          right: 0;
          box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
        }
        width: 80%;
        // border: 1px solid red;
        .hamburger,
        .toggle-menu {
          display: block;
        }
        .headerMenu {
          justify-content: start;
          flex-direction: column;
          align-items: center;
          position: fixed;
          top: 0;
          right: -300px;
          background-color: $block-color;
          width: 300px;
          height: 100%;
          padding-top: 74px;

          .myname-mobile {
            display: block;
            a {
              display: flex;
              justify-content: center;
              flex-direction: column;
              .profile-img {
                width: 150px;
                height: 150px;
                img {
                  height: 150px;
                }
                margin-bottom: 10px;
              }
              text-align: center;
              font-size: 25px;
              font-weight: bold;
              &:hover {
                padding: 30px;
                font-size: 30px;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
                color: $main-color;
                font-weight: bold;
              }
            }
          }
          .myname {
            display: none;
          }
          li {
            &:last-child {
              a {
                padding-right: 25px;
              }
            }
            a {
              // border: 1px solid red;
              font-size: 18px;
              &:hover {
                padding: 30px;
                font-size: 20px;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
                color: $main-color;
                font-weight: bold;
              }
            }
          }
        }
        .searchTooltip {
          position: absolute;
          background-color: white;
          // padding: 15px;
          width: 240px;
          top: 50px;
          left: 25vw;
          border-radius: 5px;
          border: 2px solid rgb(231, 231, 231);
          box-shadow: 2px 2px 3px rgb(112, 112, 112);
          p {
            margin-bottom: 5px;
            color: rgb(54, 54, 54);
            font-size: 11.5px;
            &:first-child {
              font-weight: bold;
              color: black;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .searchInput {
          margin-left: 20px;
          width: 65%;
        }
      }
    }
    .qna-write-question {
      bottom: 60px;
      right: 8vw;
      width: 50px;
      height: 50px;
      font-size: 22px;
    }
  }
}
