@import "color.scss";

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "S-CoreDream-3Light";
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  // box-shadow: 1px 1px 3px gray;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
