@import "color.scss";
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 변수 설정
$desktop: 1500px;
$notebook: 1200px;
$tablet: 768px;
$mobile: 480px;

// 기본 스타일
body {
  font-family: "S-CoreDream-3Light";
  margin: 0;
  padding: 0;
}

// 공통 스타일
.main-section {
  width: 100%;
  height: 100%;
  padding: 0;
  article {
    width: 100%;
    border-bottom: 3px solid rgb(215, 215, 215);
  }
}

.main-container {
  width: 100%;
  margin: 0 auto;

  opacity: 0;
  .main-img {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 180%;
      transition: transform 3s ease-in-out;
    }
  }
}
.visible {
  opacity: 1;
  transition: opacity 2s ease;
}
.main-container-wave {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  .wave-box {
    opacity: 0.8;
  }
  .first {
    position: relative;
    opacity: 1;
  }
  .wave {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 45%;
    z-index: 0;
  }

  @keyframes move {
    100% {
      transform: rotate(360deg);
    }
  }
}

.main-container {
  a {
    color: black;
  }
}

// 미디어 쿼리
// 데스크탑
@media (min-width: $desktop) {
  .main-container-wave {
    .one {
      background: $main-color;
      animation: move 16s infinite linear;
      top: -600px;
      left: 000px;
    }
    .two {
      background: $main-color;
      animation: move 25s infinite linear;
      top: -150px;
      left: -300px;
    }
    .three {
      background: $yellow-color;
      animation: move 20s infinite linear;
      bottom: -300px;
      left: -100px;
    }
    .four {
      background: $main-color;
      animation: move 17s infinite linear;
      bottom: -600px;
      left: 100px;
    }
    .five {
      background: $main-color;
      animation: move 19s infinite linear;
      bottom: -600px;
      left: 500px;
    }
    .six {
      background: $yellow-color;
      animation: move 21s infinite linear;
      bottom: -600px;
      right: 400px;
    }
    .seven {
      background: $yellow-color;
      animation: move 22s infinite linear;
      bottom: -400px;
      right: -100px;
    }
    .eight {
      background: $main-color;
      animation: move 16s infinite linear;
      top: -400px;
      right: -100px;
    }
    .nine {
      background: $main-color;
      animation: move 25s infinite linear;
      top: -100px;
      right: -400px;
    }
    .ten {
      background: $yellow-color;
      animation: move 15s infinite linear;
      top: -500px;
      right: 200px;
    }
    .eleven {
      background: $main-color;
      animation: move 19s infinite linear;
      top: -700px;
      right: 700px;
    }
    .twelve {
      background: $yellow-color;
      animation: move 21s infinite linear;
      top: -700px;
      left: 300px;
    }
    .thirteen {
      background: $yellow-color;
      animation: move 21s infinite linear;
      top: -500px;
      left: 500px;
    }
    .fourteen {
      background: $main-color;
      animation: move 21s infinite linear;
      bottom: -500px;
      left: 800px;
    }
  }
  article {
    .main-container {
      max-width: 1140px;
      min-height: 1000px;
    }
    .contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-img {
        width: 400px;
        height: 400px;
        background-color: $deep-blue-color;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(154, 154, 154);
      }
      .main-content {
        width: 700px;
        p {
          font-weight: bold;
          padding: 7px 0;
          &:first-child {
            font-size: 24px;
            color: $main-color;
          }
          &:nth-child(2) {
            font-size: 50px;
            color: rgb(26, 26, 26);
          }
          &:nth-child(3) {
            font-size: 20px;
            color: rgb(70, 70, 70);
          }
          &:last-child {
            button {
              border: 1px solid rgb(231, 231, 231);
              box-shadow: 1px 1px 1px rgb(215, 215, 215);
              width: 150px;
              height: 40px;
              font-size: 16px;
              border-radius: 5px;
              cursor: pointer;

              &:hover {
                background-color: $main-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 700px;
        height: 380px;
        background-color: rgba(white, 0.5);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 15px;
        box-shadow: 1px 1px 1px rgb(215, 215, 215);
        p {
          text-align: center;
          font-weight: bold;
          padding: 5px 0;
          &:first-child {
            font-size: 34px;
            color: $deep-blue-color;
          }
          &:nth-child(2) {
            font-size: 60px;
            color: $main-color;
          }
          &:last-child {
            font-size: 20px;
            color: rgb(70, 70, 70);
          }
        }
      }
    }
  }
}

// 노트북
@media (min-width: $notebook) and (max-width: $desktop) {
  .main-container-wave {
    .wave-box {
      opacity: 0.8;
    }
    .one {
      background: $main-color;
      animation: move 6s infinite linear;
      top: -400px;
      left: -300px;
    }
    .two {
      background: $main-color;
      animation: move 5s infinite linear;
      top: -150px;
      left: -500px;
    }
    .three {
      background: $yellow-color;
      animation: move 19s infinite linear;
      bottom: -300px;
      left: -300px;
    }
    .four {
      background: $main-color;
      animation: move 17s infinite linear;
      bottom: -600px;
      left: 100px;
    }
    .five {
      background: $main-color;
      animation: move 20s infinite linear;
      bottom: -700px;
      left: 300px;
    }
    .six {
      background: $yellow-color;
      animation: move 19s infinite linear;
      bottom: -700px;
      right: 100px;
    }
    .seven {
      background: $yellow-color;
      animation: move 17s infinite linear;
      bottom: -400px;
      right: -300px;
    }
    .eight {
      background: $main-color;
      animation: move 22s infinite linear;
      top: -500px;
      right: -500px;
    }
    .nine {
      background: $main-color;
      animation: move 25s infinite linear;
      top: -200px;
      right: -400px;
    }
    .ten {
      background: $main-color;
      animation: move 14s infinite linear;
      top: -700px;
      right: 200px;
    }
    .eleven {
      background: $main-color;
      animation: move 18s infinite linear;
      top: -700px;
      right: 400px;
    }
    .twelve {
      background: $yellow-color;
      animation: move 21s infinite linear;
      top: -600px;
      left: 300px;
    }
  }
  article {
    .main-container {
      max-width: 960px;
      min-height: 700px;
    }

    .contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-img {
        width: 340px;
        height: 340px;
        background-color: $deep-blue-color;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(154, 154, 154);
      }
      .main-content {
        width: 490px;
        p {
          font-weight: bold;
          padding: 7px 0;
          &:first-child {
            font-size: 20px;
            color: $main-color;
          }
          &:nth-child(2) {
            font-size: 35px;
            color: rgb(26, 26, 26);
          }
          &:nth-child(3) {
            font-size: 18px;
            color: rgb(70, 70, 70);
          }
          &:last-child {
            button {
              border: 1px solid rgb(231, 231, 231);
              box-shadow: 1px 1px 1px rgb(215, 215, 215);
              width: 150px;
              height: 40px;
              font-size: 16px;
              border-radius: 5px;
              cursor: pointer;
              &:hover {
                background-color: $main-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .first {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 700px;
        height: 380px;
        background-color: rgba(white, 0.5);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 15px;
        box-shadow: 1px 1px 1px rgb(215, 215, 215);
        p {
          text-align: center;
          font-weight: bold;
          padding: 5px 0;
          &:first-child {
            font-size: 34px;
            color: $deep-blue-color;
          }
          &:nth-child(2) {
            font-size: 60px;
            color: $main-color;
          }
          &:last-child {
            font-size: 20px;
            color: rgb(70, 70, 70);
          }
        }
      }
    }
  }
}

// 패드
@media (min-width: $tablet) and (max-width: $notebook) {
  .main-container-wave {
    .one {
      background: $main-color;
      animation: move 6s infinite linear;
      top: -800px;
      left: -200px;
    }
    .two {
      background: $main-color;
      animation: move 5s infinite linear;
      top: -400px;
      left: -500px;
    }
    .three {
      background: $yellow-color;
      animation: move 18s infinite linear;
      bottom: -500px;
      left: -300px;
    }
    .four {
      background: $main-color;
      animation: move 17s infinite linear;
      bottom: -1000px;
      left: 100px;
    }
    .five {
      background: $main-color;
      animation: move 20s infinite linear;
      bottom: -700px;
      left: 300px;
    }
    .six {
      background: $yellow-color;
      animation: move 22s infinite linear;
      bottom: -700px;
      right: 50px;
    }
    .seven {
      background: $yellow-color;
      animation: move 18s infinite linear;
      bottom: -400px;
      right: -500px;
    }
    .eight {
      background: $main-color;
      animation: move 15s infinite linear;
      top: -500px;
      right: -800px;
    }
    .nine {
      background: $main-color;
      animation: move 19s infinite linear;
      top: -200px;
      right: -600px;
    }
    .ten {
      background: $main-color;
      animation: move 21s infinite linear;
      top: -700px;
      right: 200px;
    }
    .eleven {
      background: $main-color;
      animation: move 17s infinite linear;
      top: -700px;
      right: 400px;
    }
    .twelve {
      background: $yellow-color;
      animation: move 15s infinite linear;
      top: -700px;
      left: 300px;
    }
  }
  article {
    .main-container {
      max-width: 720px;
      min-height: 600px;
    }
    .contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-img {
        width: 290px;
        height: 290px;
        background-color: $deep-blue-color;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(154, 154, 154);
      }
      .main-content {
        width: 400px;
        p {
          font-weight: bold;
          padding: 7px 0;
          &:first-child {
            font-size: 18px;
            color: $main-color;
          }
          &:nth-child(2) {
            font-size: 29px;
            color: rgb(26, 26, 26);
          }
          &:nth-child(3) {
            font-size: 14px;
            color: rgb(70, 70, 70);
          }
          &:last-child {
            button {
              border: 1px solid rgb(231, 231, 231);
              box-shadow: 1px 1px 1px rgb(215, 215, 215);
              width: 150px;
              height: 40px;
              font-size: 14px;
              border-radius: 5px;
              cursor: pointer;
              &:hover {
                background-color: $main-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .first {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 700px;
        height: 380px;
        background-color: rgba(white, 0.5);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 15px;
        box-shadow: 1px 1px 1px rgb(215, 215, 215);
        p {
          text-align: center;
          font-weight: bold;
          padding: 5px 0;
          &:first-child {
            font-size: 34px;
            color: $deep-blue-color;
          }
          &:nth-child(2) {
            font-size: 60px;
            color: $main-color;
          }
          &:last-child {
            font-size: 20px;
            color: rgb(70, 70, 70);
          }
        }
      }
    }
  }
}

// 핸드폰
@media (max-width: $tablet) {
  .main-container-wave {
    .one {
      background: $main-color;
      animation: move 17s infinite linear;
      top: -700px;
      left: -300px;
    }
    .two {
      background: $main-color;
      animation: move 18s infinite linear;
      top: -750px;
      left: -100px;
    }
    .three {
      background: $yellow-color;
      animation: move 22s infinite linear;
      top: -450px;
      left: 300px;
    }
    .four {
      background: $main-color;
      animation: move 25s infinite linear;
      top: 150px;
      left: 300px;
    }
    .five {
      background: $yellow-color;
      animation: move 20s infinite linear;
      top: 400px;
      left: 100px;
    }
    .six {
      background: $yellow-color;
      animation: move 15s infinite linear;
      top: 400px;
      left: -100px;
    }
    .seven {
      background: $main-color;
      animation: move 10s infinite linear;
      top: 200px;
      left: -600px;
    }
    .eight {
      background: $yellow-color;
      animation: move 12s infinite linear;
      top: -300px;
      left: -740px;
    }
  }

  article {
    &:nth-child(3) {
      .contents {
        flex-direction: column-reverse;
      }
    }
    .main-container {
      max-width: 100%;
      min-height: 550px;
    }

    .contents {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      .main-img {
        width: 250px;
        height: 250px;
        background-color: $deep-blue-color;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(154, 154, 154);
      }
      .main-content {
        width: 250px;
        p {
          font-weight: bold;
          padding: 7px 0;
          text-align: center;
          &:first-child {
            font-size: 13px;
            color: $main-color;
          }
          &:nth-child(2) {
            font-size: 16px;
            color: rgb(26, 26, 26);
          }
          &:nth-child(3) {
            margin: 0 auto;
            width: 80%;
            text-align: left;
            font-size: 10px;
            color: rgb(70, 70, 70);
          }
          &:last-child {
            button {
              border: 1px solid rgb(231, 231, 231);
              box-shadow: 1px 1px 1px rgb(215, 215, 215);
              width: 150px;
              height: 40px;
              font-size: 13px;
              border-radius: 5px;
              cursor: pointer;
              &:hover {
                background-color: $main-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .first {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
        height: 200px;
        background-color: rgba(white, 0.5);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 15px;
        box-shadow: 1px 1px 1px rgb(215, 215, 215);
        p {
          text-align: center;
          font-weight: bold;
          padding: 5px 0;
          &:first-child {
            font-size: 20px;
            color: $deep-blue-color;
          }
          &:nth-child(2) {
            font-size: 35px;
            color: $main-color;
          }

          &:last-child {
            font-size: 15px;
            color: rgb(70, 70, 70);
          }
        }
      }
    }
  }
}
