.discussion_wrapper {
  position: relative;
  border: 1px solid black;
  width: 100%;
  padding: 24px 16px;
  margin: 80px;
  .discussion_container_1 {
    position: relative;
    margin-bottom: 10px;
    &:after {
      position: absolute;
      bottom: 0;
      left: -16px;
      right: -16px;
      height: 1px;
      background-color: hsl(210, 8%, 85%);
      content: "";
    }
    .question_header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .headerTitle {
        font-size: 30px;
      }

      .question_askQBtn {
        border: none;
        border-radius: 5px;
        color: #ffffff;
        background-color: #1b75d0;
        padding: 10px;
        cursor: pointer;
      }
    }
    .title {
      font-size: 30px;
      margin-bottom: 12px;
    }

    .subfilter_sort_box {
      display: inline-block;
      padding-bottom: 10px;

      .item1 {
        margin-bottom: 12px;
      }
      .item2 {
        border-radius: 5px;
        border: 1px solid hsl(210, 8%, 85%);
        display: flex;
        gap: 2px;
        padding: 3px;
        text-align: center;
        .itemList {
          border-radius: 5px;
          border: none;
          background-color: hsl(210, 8%, 95%);
          padding: 9px 5px 2px 5px;
        }
      }
    }
  }
  .discussion_container_2 {
    position: relative;
    margin-bottom: 10px;
    &:after {
      position: absolute;
      bottom: 0;
      left: -16px;
      right: -16px;
      height: 1px;
      background-color: hsl(210, 8%, 85%);
      content: "";
    }
    .post_summary_stats {
      margin-bottom: 5px;
      display: inline-block;
      padding: 2px;
      .statsList {
        border-radius: 5px;
        display: inline-block;
        padding-left: 12px;
        border: 1px solid hsl(148, 70%, 31%);
        font-size: 14px;
        padding: 2px 5px 2px 5px;
        margin-right: 2px;
      }
      .statsList:last-child {
        margin-right: 0;
      }
    }

    .post_content_area {
      border-bottom: 1px solid black;
      .post_title {
        margin-bottom: 5px;
      }

      .post_content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 5px;
      }

      .post_footer {
        .post_lang {
          display: inline-block;
          padding: 2px;
          margin-bottom: 5px;
          .lang_type {
            display: inline-block;
            border-radius: 5px;
            background-color: hsl(210, 8%, 95%);
            padding: 2px 5px 2px 5px;
            font-size: 14px;
            margin-right: 2px;
          }
          .lang_type:last-child {
            margin-right: 0;
          }
        }
      }
      .post_userDetails {
        display: flex;
        gap: 5px;
        padding-top: 5px;
        justify-content: flex-end;
        font-size: 10px;
        margin-bottom: 10px;
        .post_userImg {
          width: 15px;
          height: 15px;
          border-radius: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 641px) {
  .discussion_wrapper {
    .discussion_container_1,
    .discussion_container_2 {
      width: 50%;
      margin: 0 auto;
    }

    .discussion_container_1 {
      margin-bottom: 10px;
      .subfilter_sort_box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        .item1 {
          padding-top: 9px;
          font-size: 18px;
        }
      }
    }

    .discussion_container_2 {
      display: flex;
      margin-bottom: 10px;

      .post_summary_stats {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: hsl(210, 8%, 42%);
        width: 20%;
        gap: 3px;
        margin: 0 16px 4px 0;
        font-size: 13px;
      }

      .post_content_area {
        width: 80%;
        .post_content {
          display: block;
          -webkit-line-clamp: initial;
          -webkit-box-orient: initial;
          overflow: visible;
          margin-bottom: 0;
          cursor: pointer;
        }
        .post_content:hover {
          color: hsl(210, 80%, 23%);
          font-weight: bold;
        }
      }
      .post_userDetails {
        gap: 15px !important;
        font-size: 16px !important;
        .post_userImg {
          width: 15px;
          height: 15px;
          border-radius: 2px;
        }
      }
    }
  }
}
