.questionDetailpage_wrapper {
  padding: 80px 21px;
  .closed_container1 {
    .closed_header {
      margin-bottom: 20px;
      display: flex;
      .headerTitle {
        font-size: 30px;
      }
    }
    .question_container {
      margin-bottom: 20px;

      .question_section1 {
        margin-bottom: 10px;
        font-size: 25px;
      }

      .question_section2 {
        border-bottom: 1px solid hsl(210, 8%, 85%);
        margin-bottom: 15px;
        overflow: auto;
        height: auto;
        .section2_1 {
          padding-bottom: 10px;
          .questionStats {
            display: inline-block;
            margin-right: 10px;
          }
          .questionStats:last-child {
            margin-right: 0px;
          }
        }
        .section2_2 {
          display: flex;
          padding-right: 10px;
          .profileStats {
            display: inline-block;
            margin-right: 10px;
            .viewCountSpan {
              margin-left: 10px;
              color: #0031fd;
            }
          }
          .profileStats:last-child {
            margin-right: 0px;
          }
        }
      }

      .question_section3 {
        display: flex;
        margin-bottom: 20px;
        .section3_sideBar {
          padding: 0 16px 0 0;
          text-align: center;
          button,
          div {
            margin-bottom: 13px;
          }
          .answerBtn {
            border: 1px solid hsl(210, 8%, 85%);
            border-radius: 50%;
            background-color: #ffffff;
            width: 40px;
            height: 40px;
            font-size: 15px;
            cursor: pointer;
          }
          .resolve_bookMark {
            cursor: pointer;
          }
        }
        .section3_content {
          display: flex;
          flex-direction: column;
          padding: 0px 12px;
          width: 100%;

          .section3_body {
            height: 163px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;

            display: -webkit-box;
            -webkit-line-clamp: 7; // 원하는 라인수
            -webkit-box-orient: vertical;
            .ql-syntax {
              border-radius: 5px;
              padding: 10px;
              background-color: hsl(210, 8%, 85%);
              // width: fit-content;
              font-size: 17px;
            }
          }
          .tagList_container {
            display: flex;
            .tagList {
              display: inline-block;
              border-radius: 15px;
              border: 1px solid #aaa;
              background-color: #eee;
              padding: 2px 13px;
              font-size: 14px;
              margin-right: 8px;
              max-width: 95px;
            }
          }
        }
      }
      .question_section4 {
        display: flex;
        justify-content: start;
        padding-left: 57px;
        gap: 10px;
        color: hsl(210, 8%, 42%);
        .section_text {
          font-size: 15px;
          cursor: pointer;
        }
        .section_text:hover {
          color: black;
        }
      }
    }
  }
  .closed_container2 {
    margin-bottom: 10px;
    .subTitle {
      font-size: 21px;
      margin-bottom: 1px;
    }
  }

  .closed_container3 {
    display: flex;
    .section3_1 {
      padding: 0 16px 0 0;
      text-align: center;
      button,
      div {
        margin-bottom: 8px;
      }
      .answerBtn {
        border: 1px solid hsl(210, 8%, 85%);
        border-radius: 50%;
        background-color: #ffffff;
        width: 40px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
      }
      .resolve_bookMark {
        cursor: pointer;
      }
      .section4_body {
        text-align: -webkit-left;
      }
    }
    .section3_2 {
      .part3_1 {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        margin-bottom: 2px;
        .area1 {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .profilesStates {
          padding-top: 3px;
        }
      }
    }
  }
  .closed_container4 {
    .subTitle {
      font-size: 21px;
      margin-bottom: 10px;
    }
    .richEditorText_container {
      background-color: #ffffff;
      border: 1px solid hsl(210, 9%, 75%);
      border-radius: 5px;
      padding: 6px 10px 2px 10px;
      margin-bottom: 10px;
      button {
        width: 28px;
        display: grid;
        place-items: center;
        border-radius: 3px;
        border: none;
        background-color: #ffffff;
        outline: none;
        color: #020929;
      }
      select {
        border: 1px solid #020929;
        border-radius: 3px;
      }
      .options {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-y: hidden;
        padding-bottom: 10px;
      }
      .input-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        input[type="color"] {
          appearance: none;
          background-color: transparent;
          width: 34px;
          height: 22px;
          border: none;
          cursor: pointer;
        }
        label {
          white-space: nowrap;
          font-size: 13px;
        }
        input[type="color"]::-webkit-color-swatch {
          border-radius: 15px;
          box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
        }
        input[type="color"]::-moz-color-swatch {
          border-radius: 15px;
          box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
        }
      }
      #text-input {
        height: 30vh;
        overflow-y: auto;
      }

      #text-input a {
        cursor: pointer;
      }
      .active {
        background-color: #e0e9ff;
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
    .closedBtn_container {
      .closedBtn {
        border: none;
        color: #ffffff;
        background-color: #1b75d0;
        width: auto;
        padding: 10px;
      }
    }
  }
}

// $desktop: 1500px;
// $notebook: 1200px;
// $tablet: 768px;
// $mobile: 480px;
// // 900 노트북, desktop
// // 700 tablet
// // 300 mobile
@media screen and (min-width: 592px) {
  .questionDetailpage_wrapper {
    width: 1050px;
    margin: 0 auto;
    .closed_container1 {
      .question_container {
        .question_section2 {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .closed_container2 {
      margin-bottom: 10px;
    }
    .closed_container3 {
      .section3_2 {
        .part3_1 {
          display: flex;
          justify-content: space-between;
          font-size: initial;
          .area1 {
            display: flex;
            gap: 5px;
          }
        }
      }
    }
    .closed_container4 {
      margin-bottom: 10px;
      .subTitle {
        margin-bottom: 10px;
      }
      .richEditorText_container {
        background-color: #ffffff;
        border: 1px solid hsl(210, 9%, 75%);
        border-radius: 5px;
        padding: 6px 10px 2px 10px;
        margin-bottom: 10px;
        button {
          width: 28px;
          display: grid;
          place-items: center;
          border-radius: 3px;
          border: none;
          background-color: #ffffff;
          outline: none;
          color: #020929;
        }
        select {
          border: 1px solid #020929;
          border-radius: 3px;
        }
        .options {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;
        }
      }
      .closedBtn_container {
        .closedBtn {
          border: none;
          color: #ffffff;
          background-color: #1b75d0;
          width: auto;
          padding: 10px;
        }
      }
    }
  }
}

// @media screen and (min-width: 1500px) {
//   section {
//     .closed_container1,
//     .closed_container2,
//     .closed_container3,
//     .closed_container4 {
//       width: 900px;
//       margin: 0 auto;
//     }
//   }
// }
